@import "tailwindcss";

@theme {
  --color-terracotta: #D97757;
  --color-terracotta-dark: #C4653F;
  --color-cream: #FAF7F2;
  
  --color-brand-primary: #4703d1;
  --color-brand-primary-light: #693EFE;
  --color-brand-primary-dark: #3a02a8;
  --color-brand-secondary: #FF6B6B;
  --color-brand-secondary-dark: #E85A5A;
}
