@import "tailwindcss";

@theme {
  --font-display: "Sora", sans-serif;
  --font-sans: "DM Sans", sans-serif;

  --color-brand-primary: #331894;
  --color-brand-primary-light: #5B2BC4;
  --color-brand-primary-dark: #27017d;
  --color-brand-primary-muted: #3318941a;

  --color-brand-orange: #331894;
  --color-brand-orange-dark: #27017d;

  --color-brand-navy: #0a1038;
  --color-brand-navy-light: #1a2060;

  --color-cream: #FAF7F2;
}

body {
  font-family: var(--font-sans);
}
