@import "tailwindcss";

@theme {
  --font-display: "Sora", sans-serif;
  --font-sans: "DM Sans", sans-serif;

  --color-brand-primary: #F4623A;
  --color-brand-primary-light: #F4623A;
  --color-brand-primary-dark: #D9522E;
  --color-brand-primary-muted: rgba(244, 98, 58, 0.1);

  --color-brand-orange: #F4623A;
  --color-brand-orange-dark: #D9522E;

  --color-brand-secondary: #14B8A6;
  --color-brand-secondary-dark: #0D9488;

  --color-cream: #F9F2E8;
  --color-cream-white: #FFF9F0;
}

body {
  font-family: var(--font-sans);
}
